<mat-toolbar>
  <span>Matt PoC Reducer URL</span>
</mat-toolbar>

<div *ngIf= "urlForm" class="container-url">
  <form>
    <mat-label> Enter the url that needs to be shortened</mat-label>
    <input matInput placeholder="https://myurl.xy/example" [formControl]="urlForm"/>
    <div *ngIf="!urlForm.valid && urlForm.touched">
      <div *ngIf="urlForm.errors?.['required']" style="background: red">
        URL is required
      </div>
      <div *ngIf="urlForm.errors?.['pattern']" style="background: red">
        URL Format is wrong
      </div>
    </div>
  </form>
  <button (click)="send()">Submit</button>
  <div>Your result {{result}}</div>
</div>

